@model OdeToFood.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<table>
    <h1>@Model.CurrentMessage</h1>
    @foreach (var resto in Model.Restaurants)
    {
        <tr>
            <td>@resto.Id</td>
            <td>@resto.Name</td>
            <td>
                @*<a href="/home/details/@resto.Id"> Details</a>*@
                @*@Html.ActionLink("Go", "Details", new { id=resto.Id});*@

                <a asp-action="Details" asp-route-id="@resto.Id">More</a>

                <a asp-page="/Restaurants/Edit" asp-route-id="@resto.Id">Edit</a>

            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add Restaurant</a>

@section footer {
    @Model.CurrentMessage
}
